body{
    margin-top:25%;
    margin-bottom: 60%;
    background: #6c6868;
    background: -webkit-linear-gradient(52deg,#6c6868 0%, #41c541 80%);
    background: -moz-linear-gradient(52deg,#6c6868 0%, #41c541 80%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    margin:10px;
  
}

section.ringueClass{
    border-radius: 15px;
}

section #icones{
    border:1px solid;
    border-color: black;
    padding: 20px;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button.ringue{
    background-color: transparent;
    border-color: transparent;
    font-size: 55px; 
      
}

#restart{
    display:flex;
    justify-content:center;
    
}

div{
    display: flex;   
    justify-content: center;

}

#jogadores{
    display: flex;
    justify-content: space-evenly;
}

button.botoes{
    margin:0px;
    border-color: rgba(165, 42, 42, 0.205);
    border-radius: 15px;
    font-size: 40px;
    background-color: transparent;
}

button.reiniciar{
    background-color: transparent;
    margin-left:20px;
    border-color: rgba(165, 42, 42, 0.205);
    border-radius: 15px;
    font-size: 15px;
}

button.jogar{
    background-color: rgba(146, 71, 216, 0.418);
    margin-left:20px;
    border-color: rgba(165, 42, 42, 0.205);
    border-radius: 15px;
    font-size: 15px;
}

img{
    border-radius: 30px;
    margin: 0;
    padding: 0;
}

p#res{
    display: flex;
    justify-content: center;
    font-size: 25px;
}

a{
    color: darkblue;
    margin-bottom: 10px;
}
